---
import type { Personaje } from "../../types/Personaje";
import {
  obtenerPersonajes,
  obtenerPersonajePorId,
} from "../../api/personajeApi";
import Layout from "../../layouts/Layout.astro";
import TarjetaPersonaje from "../../components/Personajes/TarjetaPersonaje.astro";
import AnimacionGaleria from "../../components/GaleriaImagenes/AnimacionDeGaleria.astro";
import { Image } from "astro:assets";
import GaleriaImagenes from "../../components/GaleriaImagenes/GaleriaImagenes.astro";
import TextoOrnamentado from "../../components/TextoOrnamentado.astro";
import Video from "../../components/Video.astro";
import type { Animacion } from "../../types/Animacion";

export async function getStaticPaths() {
  const personajes: Personaje[] = await obtenerPersonajes();
  return personajes.map((personaje) => ({
    params: { personajeId: personaje.id.toString() },
  }));
}

const { personajeId } = Astro.params;
const personaje: Personaje = await obtenerPersonajePorId(personajeId);
---

<Layout>
  <div
    class="mt-20 min-h-screen flex flex-col flex-wrap justify-center items-center p-3 gap-5 max-w-[1000px] mx-auto"
  >
    <div class="flex flex-col md:flex-row gap-5 justify-center items-center  md:items-start">
      <div class="flex flex-col justify-center items-center gap-3">
        <h2 class="text-3xl text-start font-bold cinzel">
          {personaje.nombre}
          <Image
            src={personaje.elemento.iconoURL}
            alt={personaje.elemento.nombre}
            width={32}
            height={32}
            class="inline-block"
          />
        </h2>
        <TarjetaPersonaje
          personaje={personaje}
          class="h-[500px] max-w-[80vw]"
          transition:name={"tarjeta-" + personaje.id}
        />
      </div>
      <a
        data-fancybox="splash"
        data-src={personaje.splashArtURL}
        class="overflow-hidden flex-shrink-1 w-fit"
      >
        <img
          src={personaje.splashArtURL}
          class="rounded object-cover w-full cursor-pointer h-screen"
          loading="lazy"
        />
      </a>
    </div>

    <section>
      <TextoOrnamentado
        ><h3 class="text-xl font-bold cinzel text-center">
          Galeria de Animaciones
        </h3></TextoOrnamentado
      >
      <div
        class="flex flex-wrap p-3 gap-3 justify-center items-center flex-grow"
      >
        {
          personaje.animaciones.map((animacion: Animacion) => (
            <AnimacionGaleria
              animacion={animacion}
              class="h-50"
              nombreDeGaleria="animaciones"
            />
          ))
        }
      </div>
    </section>

    <div class="flex flex-col justify-center items-center p-3">
      <TextoOrnamentado
        ><h3 class="text-xl font-bold cinzel text-center">
          Galeria de Imágenes
        </h3></TextoOrnamentado
      >

      <GaleriaImagenes
        imagenes={personaje.imagenes.sort(
          (a, b) => b.calificacion - a.calificacion
        )}
      />
    </div>

    <div class="">
      <TextoOrnamentado
        ><h3 class="text-xl font-bold cinzel text-center">
          Galeria de Videos
        </h3></TextoOrnamentado
      >
      <div class="flex flex-wrap justify-center items-center gap-3">
        {
          personaje.videos.map((video) => (
            <Video
              video={video}
              class="aspect-video flex-grow md:max-w-[500px]"
            />
          ))
        }
      </div>
    </div>
  </div>

  <Image
    src="https://webstatic.hoyoverse.com/upload/uploadstatic/contentweb/20210211/2021021114240369279.png"
    alt="Genshin Impact"
    width={1920}
    height={1080}
    class="w-screen h-screen fixed -z-10 top-0 left-0 blur-xs"
  />
</Layout>
